.BG-VERDE-FLUKE {
  background-color: rgb(1, 175, 70); /*#01AF46*/
}

/*Cinza claro*/
.BG-COR-JUMBOTRON {
  background-color: rgb(233, 236, 239) /*#E9ECEF*/
}

.VERDE-FLUKE {
  color: rgb(1, 175, 70) /*#01AF46*/
}

/* Acaba com o scroll-horizontal chato */
html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Estilização da div que contém o PARTICLES para que seja background da ancora 1 */
.BG-PARTICLES-1 {
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/* Estilização da div que contem o PARTICLES JS como bg da ancora 3 */
.BG-PARTICLES-2 {
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
